/* Reset css */
* {
  margin: 0;
  padding: 0;
}
/* Fuente roboto */
.roboto {
  font-family: "Roboto", sans-serif;
}
/* Color beige */
.colorA {
  color: rgba(150, 132, 106) !important;
  font-weight: bold;
}
.negro {
  color: black !important;
}
/* fondo azul con foto fija */
.fondoAzul {
  background-image: url(images/fondo.jpeg);
  background-color: #122335 !important;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* fondo azul sin foto */
.fondoAzulNoFoto {
  background-color: #122335 !important;
}
/* fondo beige radial */
.fondoBeigeRadial {
  background: radial-gradient(
    circle,
    rgba(150, 132, 106, 0.8323704481792717) 46%,
    rgba(111, 96, 96, 0.8379726890756303) 100%
  ) !important;
}
/* fondo beige */
.fondoBeige {
  background-color: rgba(150, 132, 106) !important;
}
/* header presentación */
.header {
  height: auto;
}
/* cambio del png de hamburguesa */
.navbar-toggler-icon {
  background-image: url(images/hamburguer.png) !important;
}
/* tamaño logo en header */
.header__nav__logo {
  height: 40px;
  width: auto;
}
/* transition para los li del nav */
.header__nav li {
  transition: 0.5s;
}
/* escalado al hacer hover */
.header__nav li:hover {
  transform: scale(0.9, 0.9);
}
.header__nav li a {
  font-size: 20px;
}
/* gap en caja flex de header */
.header__flex {
  gap: 10px;
}
/* tamaño de logo */
.header__logo {
  margin-top: 90px;
  width: 200px;
}
@media (min-width: 768px) {
  .header__logo {
    width: auto;
  }
}
/* Tamaño de los íconos de redes sociales transition y sus media queries */
.header__redesSociales img {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
/* escalado al hacer hover */
.header__redesSociales img:hover {
  transform: translate(0px, -5px);
}
@media (min-width: 768px) {
  .header__redesSociales img {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 992px) {
  .header__redesSociales img {
    width: 40px;
    height: 40px;
  }
}
.imagenes {
  padding-top: 45px;
}
/* Formato para subtítulos negros y beige, y sus media queries */
.subtitulo--negro {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  padding: 20px;
}
.subtitulo--beige {
  font-size: 2.5rem;
  color: rgba(150, 132, 106, 0.8323704481792717);
  text-align: center;
  padding: 20px;
}
@media (min-width: 768px) {
  .subtitulo--negro {
    font-size: 3rem;
  }
  .subtitulo--beige {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .subtitulo--negro {
    font-size: 3.5rem;
  }
  .subtitulo--beige {
    font-size: 3.5rem;
  }
}
/* grid galería y sus media queries*/
.imagenes__grid {
  padding-bottom: 20px;
  display: grid;
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8";
  grid-template-rows: repeat (8, 1fr);
  overflow: hidden;
  gap: 15px;
}
.imagenes__grid img {
  filter: grayscale(80%);
}
/* grid areas para cada imagen */
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
/* tamaño imágenes y transición de escalado */
.img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
/* escalado para imagenes al hacer hover position relative y z-index */
.img:hover {
  position: relative;
  transform: scale(1.1, 1.1);
  z-index: 2;
}
@media (min-width: 768px) {
  .imagenes__grid {
    grid-template-areas:
      "img1 img2 img2 img3"
      "img5 img2 img2 img4"
      "img5 img6 img6 img6"
      "img7 img7 img7 img7"
      "img8 img8 img8 img8";
    grid-template-rows: repeat (5, 1fr);
    grid-template-columns: repeat (4, 1fr);
    overflow: hidden;
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .imagenes__grid {
    grid-template-areas:
      "img1 img2 img2 img3 img4"
      "img5 img2 img2 img6 img6"
      "img5 img7 img7 img7 img7"
      "img8 img8 img8 img8 img8";
    grid-template-rows: repeat (4, 1fr);
    grid-template-columns: repeat (5, 1fr);
    overflow: hidden;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .imagenes__grid {
    gap: 5px;
  }
}
/* padding y gap de div videos */
.videos {
  padding-top: 45px;
  padding-bottom: 20px;
  gap: 10px;
}
/* flex basis para ajustar */
@media (min-width: 768px) {
  .videos__video {
    flex-basis: 32%;
  }
}
/* gap para caja flex del footer */
.footer__flex {
  gap: 10px;
}
/* Tamaño logo */
.footer__logo {
  width: 200px;
}
@media (min-width: 768px) {
  .footer__logo {
    width: auto;
  }
}
/* Tamaño de letra para el nav del footer y sus media queries */
.footer__nav {
  font-size: 1.5rem;
}
/* transition para los li del nav */
.footer__nav li {
  transition: 0.5s;
}
/* escalado al hacer hover */
.footer__nav li:hover {
  transform: scale(0.9, 0.9);
}
@media (min-width: 768px) {
  .footer__nav {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .footer__nav {
    font-size: 2.5rem;
  }
}
/* tamaño íconos redes sociales footer y sus media queries */
.footer__redesSociales img {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
/* translate para íconos */
.footer__redesSociales li a img:hover {
  transform: translate(0px, -5px);
}
@media (min-width: 768px) {
  .footer__redesSociales img {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .footer__redesSociales img {
    width: 40px;
    height: 40px;
  }
}
/* Tamaño letra en copyright y sus media queries */
.copyright {
  font-size: 1rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .copyright {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .copyright {
    font-size: 2rem;
  }
}
/* Link de copyright sin decoration */
.copyright a {
  text-decoration: none;
  transition: 0.5s;
}
/* hover para nombre de autor */
.copyright a:hover {
  font-size: 3rem;
}
