// mixin para height y width
@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}
// mixin para padding horizontal y padding vertical
@mixin padding-X($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}
@mixin padding-Y($padding-right, $padding-left) {
  padding-right: $padding-right;
  padding-left: $padding-left;
}
// mixin para filtro y transición de las fotos
@mixin fotos {
  filter: $filtro-grey;
  transition: $transition-5;
  &:hover {
    transform: $scaleUp;
  }
}
// mixin para íconos de redes
@mixin redes {
  transition: $transition-5;
  &:hover {
    transform: $translate-up;
  }
}
// mixin para links
@mixin links {
  transition: $transition-5;
  &:hover {
    transform: $scaleDown;
  }
}
