// Variables
$color-beige: rgb(150, 132, 106) !important;
$color-negro: black !important;
$color-beige-menu: rgb(150, 132, 106) !important;
$color-azul: #122335 !important;
$radial-beige: radial-gradient(
  circle,
  rgba(150, 132, 106, 0.8323704481792717) 46%,
  rgba(111, 96, 96, 0.8379726890756303) 100%
);
$font-bold: bold !important;
$roboto: "Roboto", sans-serif;
$transition-5: 0.5s !important;
$scaleDown: scale(0.9, 0.9) !important;
$scaleUp: scale(1.05, 1.05) !important;
$filtro-grey: grayscale(80%) !important;
$gap-10: 10px;
$size-10: 10px;
$translate-up: translate(0, -5px);
$img-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
